body {
    list-style: none;
    font-family: "Courier New", Courier, monospace;
    background-color: #9c41f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: rgb(247, 242, 242);
}

.container {
    max-width: 15000px; /* ajuste conforme necessário */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.coin {
    background-color: #c678be;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    flex: 0 0 calc(33.33% - 40px); /* Ajuste conforme necessário */
    margin-right: 20px;
    box-sizing: border-box;
}

.coin-info {
    margin-bottom: 10px;
}

.coin-info strong {
    color: #333;
    font-weight: bold;
}

.coin img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}
