<h1>Editando Moeda</h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to "Show this coin", @coin, method: :put, class: "button" %> |
  <%= link_to "Back to coins", coins_path, method: :put, class: "button" %> |
  <a href="/" class="button">Início</a>
</div>
